
/*
* Base
* ======================================================================== */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    width: 100%;
}
/*
* normalize.css
* ------------------------------------------------------------------------ */
// normarize.css の内容をコピペ。コメントアウトはすべて削除
// ※なぜコピペかというと normarize.css のアプデが来た時に更新が楽だから
// ※もちろん、下位バージョンブラウザとの互換性を熟知するのであれば（無理ゲー）
// normalize.css と Override をひとまとめに書けるからコード量も減ってベスト
/*
* Override
* ------------------------------------------------------------------------ */
// normarize.css の内容からさらにリセットしたいスタイル
// ※margin:0 とか padding:0 など
/*
* Layout
* ======================================================================== */
header {
    height: 600px;
    width: auto;
    background-color: #DEDEDE;
}
/*
* Header
* ------------------------------------------------------------------------ */
// ヘッダーのスタイル
.header__menu {
    padding-top: 24px;
    padding-left: 109px;
    padding-right: 45px;
    font-size: 1.44rem;
    font-weight: bold;
    color: #FFFFFF;
    ul {
        display: flex;
        .header__menu--item {
            margin-right: 27px;
        }
    }
}
.header__til {
    font-size: 8.45rem;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-top: 253px;
    color: #FFFFFF;
}
/*
/*
* Breadcrumb
* ------------------------------------------------------------------------ */
// パンくずのスタイル
/*
* Headline
* ------------------------------------------------------------------------ */
// メインビジュアルのスタイル
/*
* Content
* ------------------------------------------------------------------------ */
// コンテンツのスタイル
/*
* Main
* ------------------------------------------ */
// コンテンツ > メインのスタイル
/*
* Sub
* ------------------------------------------ */
// コンテンツ > サブのスタイル
/*
* Footer
* ------------------------------------------------------------------------ */
// フッターのスタイル
/*
* nav-top
* ------------------------------------------------------------------------ */
// ページトップへ戻るのスタイル
/*
* Module
* ======================================================================== */
/*
* Box
* ------------------------------------------------------------------------ */
// ボックスモジュール
/*
* Button
* ------------------------------------------------------------------------ */
// ボタンモジュール
/*
* Form
* ------------------------------------------------------------------------ */
// フォームモジュール
/*
* Heading
* ------------------------------------------------------------------------ */
// 見出しモジュール
/*
* Index
* ------------------------------------------------------------------------ */
// インデックスモジュール
/*
* Media
* ------------------------------------------------------------------------ */
// 画像（動画）モジュール
/*
* Link
* ------------------------------------------------------------------------ */
// リンクモジュール
/*
* List
* ------------------------------------------------------------------------ */
// リストモジュール
/*
* Layout
* ------------------------------------------------------------------------ */
// レイアウトモジュール
/*
* Navigation
* ------------------------------------------------------------------------ */
// ナビゲーションモジュール
/*
* Notice
* ------------------------------------------------------------------------ */
// 注釈モジュール
/*
* Panel
* ------------------------------------------------------------------------ */
// パネルモジュール
/*
* Table
* ------------------------------------------------------------------------ */
// テーブルモジュール
/*
* Text
* ------------------------------------------------------------------------ */
// テキストモジュール
/*
* Utility
* ------------------------------------------------------------------------ */
// 調整モジュール
/*
* JavaScript widget
* ------------------------------------------------------------------------ */
// JavaScript 関連モジュール