/*
* Base
* ======================================================================== */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
    width: 100%;
}
/*
* normalize.css
* ------------------------------------------------------------------------ */
/*
* Override
* ------------------------------------------------------------------------*/
/*
* Layout
* ======================================================================== */
.header {
    height: 600px;
    width: auto;
    background-color: #DEDEDE;
    &__menu {
        padding-top: 24px;
        padding-left: 109px;
        padding-right: 45px;
        font-size: 1.44rem;
        font-weight: bold;
        color: #FFFFFF;
        &__list {
            display: flex;
            font-size: 1.44rem;
            font-weight: bold;
            font-family:'メイリオ', 'Meiryo', sans-serif;
                &__item {
                    margin-right: 27px;
                }
        }
    }
    &__til {
        font-size: 8.45rem;
        font-family: Arial;
        font-weight: bold;
        text-align: center;
        margin-top: 211px;
        color: #FFFFFF;
    }
}
.til {
        background-color: #DEDEDE;
        font-size: 3.2rem;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
        margin-top: 10px;
        height: 94px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.subtil {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 33px;
    &__text {
        display: inline-block;
        border-bottom: solid 6px #E03131;
    }
}
.coffee__menu {
    margin-left: 20px;
    margin-right: 20px;
    &__box {
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        &__list {
            width: 100%;
            border-bottom: dotted 1px #000000;
        }
    }
}
.food__menu {
    margin-left: 20px;
    margin-right: 20px;
    &__box {
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        &__list {
            width: 100%;
            border-bottom: dotted 1px #000000;
        }
    }
}
.other__menu {
    margin-left: 20px;
    margin-right: 20px;
    &__box {
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        &__list {
            width: 100%;
            border-bottom: dotted 1px #000000;
        }
    }
}
/*
* Header
* ------------------------------------------------------------------------ */
// ヘッダーのスタイル
/*
* Breadcrumb
* ------------------------------------------------------------------------ */
// パンくずのスタイル
/*
* Headline
* ------------------------------------------------------------------------ */
// メインビジュアルのスタイル
/*
* Content
* ------------------------------------------------------------------------ */
// コンテンツのスタイル
/*
* Main
* ------------------------------------------ */
// コンテンツ > メインのスタイル
/*
* Sub
* ------------------------------------------ */
// コンテンツ > サブのスタイル
/*
* Footer
* ------------------------------------------------------------------------ */
// フッターのスタイル
/*
* nav-top
* ------------------------------------------------------------------------ */
// ページトップへ戻るのスタイル
/*
* Module
* ======================================================================== */
/*
* Box
* ------------------------------------------------------------------------ */
// ボックスモジュール
/*
* Button
* ------------------------------------------------------------------------ */
// ボタンモジュール
/*
* Form
* ------------------------------------------------------------------------ */
// フォームモジュール
/*
* Heading
* ------------------------------------------------------------------------ */
// 見出しモジュール
/*
* Index
* ------------------------------------------------------------------------ */
// インデックスモジュール
/*
* Media
* ------------------------------------------------------------------------ */
// 画像（動画）モジュール
/*
* Link
* ------------------------------------------------------------------------ */
// リンクモジュール
/*
* List
* ------------------------------------------------------------------------ */
// リストモジュール
/*
* Layout
* ------------------------------------------------------------------------ */
// レイアウトモジュール
/*
* Navigation
* ------------------------------------------------------------------------ */
// ナビゲーションモジュール
/*
* Notice
* ------------------------------------------------------------------------ */
// 注釈モジュール
/*
* Panel
* ------------------------------------------------------------------------ */
// パネルモジュール
/*
* Table
* ------------------------------------------------------------------------ */
// テーブルモジュール
/*
* Text
* ------------------------------------------------------------------------ */
// テキストモジュール
/*
* Utility
* ------------------------------------------------------------------------ */
// 調整モジュール
/*
* JavaScript widget
* ------------------------------------------------------------------------ */
// JavaScript 関連モジュール

